<ion-view title="Reset Your Password">
      <ion-nav-buttons side="right">
        <a href="#/register" class="button button-clear button-positive" >Register</a>
    </ion-nav-buttons>
    <ion-content has-header="true" has-tabs="true" padding="true">
        <form name="form" ng-submit="resetPassword(user)" ng-if="!state.done">
        <div class="list">
          
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email">
            </label>
        </div>
        <div class="assertive" ng-show="state.error">{{state.error}}</div>
        <input  class="button button-block button-positive" type="submit" value="Send me an email ! " ng-disabled="(form.$invalid || !form.$dirty || state.loading)">
      
        <a class="button button-block button-clear button-calm" href="#/login">
            Login
        </a>
        </form>
        <div ng-if="state.done">
            <h1 class="item item-center"> Check your email :) </h1>
        </div>
    </ion-content>
</ion-view>