<ion-view title="How to #Zbeleh">
    <ion-content has-header="true" has-tabs="true" padding="true">
<ion-slide-box>

  <!-- Slide page one -->
  <ion-slide>
  <div class="item  padding ">
    <div class="padding">
      <h2>Welcome to the #Zbeleh App !</h2>
    </div>
    <div class="padding">
      If you're here that means :
    </div>
    
    <div class="padding">
      1. You're bored 
    </div>
    
    <div class="padding">
      2. You want to report #zbeleh around you 
    </div>

    <div class="padding">
      3. You want to see what people are reporting 
    </div>
    
    <div class="padding">
      In all 3 cases, Welcome !
    </div>
    
  </div>
  </ion-slide>

  <!-- Slide page two -->
  <ion-slide>
    <div class="padding">
      <h1>What is #Zbeleh ? </h1>
      <div class="padding">
          <div class="assertive"> #Zbeleh is any blatant infraction of the law that is going unaccounted for ! </div>
      </div>
      <div class="padding">
          #Zbeleh can be a person blocking the whole road by double-parking or it can be actual trash hidden in our mountains by our government
      </div>
      <div class="padding">
        Check out the feed for some examples of #Zbeleh
      </div>

      <div class="padding">
        <a class="button button-block button-balanced button-calm" href="#/tab/feed/">
            Enter
        </a>
      </div>


    </div>
  </ion-slide>

  <!-- More slides here... -->
</ion-slide-box>
</ion-content>
</ion-view>