<ion-view view-title="Report">
  
  <ion-content>
  
  <div class=" item item-center">

      <div class="padding ">
        <div class="pic-preview-container">
          <img id= "pic-preview" ng-src="{{report.image}}" />
        </div>

      </div>
      
      <div class="padding">

        
        <div ng-bind="report.description" linkify="twitter"> 
        </div>
        
      </div>



  </div>

      
  <div class="row row-center">

  </div>
      
      
  </div>
  </ion-content>
</ion-view>
