<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQb0g1owldRJN3Xr3nQHvZL2YD3L8e5Lw&" > </script>
    
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src='lib/lodash/lodash.min.js'></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    

    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <script src='lib/angular-linkify/angular-linkify.js'></script>
    <script src='lib/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='lib/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src="lib/angular-reverse-geocode/angular-reverse-geocode.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="app">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->

    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
  </ion-nav-bar>
  


    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>


<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Login First Please</h1>
    </ion-header-bar>
    <ion-content>

      <div class="center"> 
        <h3 class="first-line-modal light-gray"> Hello! You need to be a user to moderate the community! </h3>
        <h3 class="light-gray"> Please sign in first :) </h3>
      </div>
      <div class="button-bar modal-buttons">
        <button ng-click="goToLogin()" class="button button-positive button-full">Sign In</a>
        <button ng-click="close()" class="button button-light button-full">Nah, take me back</a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

  </body>
</html>
