<ion-view view-title="Zbeleh">
  <ion-content>
    <div class="list custom-margin-top ">
        <div class="item item-center item-no-divider">
            <a href = "#/register" class="button button-large button-positive" >
                I don't have an account
            </a>
        </div>
        <div class="item item-center item-no-divider">
            <a href = "#/login" class="button button-clear button-positive">
                I have an acccount
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>